* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 100px;
    background-color: #ffffff;
  }

 
header {
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
  }

 .main{
    margin-top: 100px;
    width: 100%;
    background-color: #ffffff;
  }


  #logo {
    width: max(100px, 18vw);
    background-color: #ffffff;
    aspect-ratio: 24 / 4;
    padding: 0.4rem;
    margin-left: 4.6rem;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
    margin-right: 140px;
    margin-top: 0px;
    background-color: #ffffff;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
  }

  nav ul li {
    list-style: none;
    padding: 0.2rem 0.2rem;
    margin-left: 30px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #080800;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  nav > ul > li > a:hover {
    color: rgb(192, 156, 108);
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
* INTRO
**/

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(253, 250, 250);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.intro a {
    color: inherit;
    text-decoration: none;
}

.intro:hover {
    box-shadow: 0 0 50px rgb(255, 254, 254);
}



.intro__image {
    box-sizing: border-box;
    height: 600px;
    background-color: #ffffff;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    width: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    display: flex;
    margin: 0;
}

.intro__image img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    filter: brightness(50%);
}

.intro:hover .intro__image {
    height: 135px;
}

.intro:hover .intro__image img {
    opacity: 0.7;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/**
* INTRO_BODY
**/

.intro__body {
    position: relative;
    height: 100%;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(76, 76, 180);
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card  {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

.card1 {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card2 {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card3 {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading{
  height: 80px;
  background-color: rgb(4, 26, 84);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(4, 26, 84);
  color: rgb(255, 255, 255);
}

.heading1 h1{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(4, 26, 84);
  color: rgb(255, 255, 255);
}
.heading2 h1{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(4, 26, 84);
  color: rgb(255, 255, 255);
}
.heading3 h1{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(4, 26, 84);
  color: rgb(255, 255, 255);
}


.heading1{
  height: 80px;
  background-color: rgb(4, 26, 84);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading2{
  height: 80px;
  background-color: rgb(4, 26, 84);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading3{
  height: 80px;
  background-color: rgb(4, 26, 84);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container2 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container3 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 15px 16px;
}

.container1 {
  padding: 15px 16px;
}

.container2 {
  padding: 15px 16px;
}

.container3 {
  padding: 15px 16px;
}


.intro:hover .intro__body {
    height: 300px;
}

.first{
  position: relative;
  top: 350px;
}








.student_project h1 {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  color: rgb(4, 26, 84);
  line-height: 50px;
  font-size: 30px;
  background-color: #ffffff;
  text-align: center;
  top:670px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#student_project {
  text-decoration: none;
}


article {
  position: relative;
  border-radius: 0px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  top: 700px;
}



article h2 {
  margin: 0 0 18px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.06em;
  color: rgb(4, 26, 84);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
}

.student_projects_body {
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article a {
  text-decoration: none;
  color: rgb(4, 26, 84);
}

article a:focus {
  outline: 1px dotted rgb(4, 26, 84);
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.student_projects {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}



@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .student_projects_body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .student_projects_container {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .student_projects_body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}





.short_course h1{
  margin-top: 0;
  padding-top: 0;
  color: rgb(4, 26, 84);
  line-height: 50px;
  font-size: 30px;
  background-color: #ffffff;
  text-align: center;
  top: 720px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .short_course p{
  top: 718px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: rgb(0, 0, 0);
  line-height: 15px;
  font-size: 15px;
  background-color: rgb(255, 254, 254);
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }









  .short-courses-format-container {
    position: relative;
    top: 720px;
    width: 1142px;
    margin: 0 auto;
  }
  
 
  .short-courses_box { 
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;
    background-color: #ffffff;
  }


  .short-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 0px;
  }

  .short-courses-item_link {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }

  
  .short-courses-item_title {
    height: 200px;
    margin: 0 0 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #0e0303;
    z-index: 2;
    position: relative;
  }


  .short-courses-item_title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .short-courses-item_date-box{
   margin-top: 0px;
  }


  .short-courses-item_date-box h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(4, 26, 84);
  }
  .short-courses-item_date-box p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000000;
  }





